In [1]:
# The usual imports
import pandas as pd

In [2]:
'''I read a table that I have from a different exercise. It contains names of the days of the week of departure,
days of the week of return and flight price.
'''
dframe = pd.read_csv("grouped3df.csv")

# Pivoting this table first.

pivot_table = dframe.pivot('day_of_week_dep', 'day_of_week_ret', 'total')
pivot_table

day_of_week_ret,Fri,Mon,Sat,Sun,Thur,Tue,Wed
day_of_week_dep,,,,,,,
Fri,648.313314,671.862519,783.742975,703.458688,669.397004,612.570156,754.278957
Mon,590.641378,601.709979,644.547527,710.861894,609.977553,559.276708,707.557244
Sat,664.001598,678.835879,731.627285,686.599597,638.343448,583.994101,689.127320
Sun,575.593330,664.462996,668.789391,719.301648,578.913307,562.964301,565.540041
Thur,640.614428,669.787813,702.324744,734.055653,672.078664,630.974115,669.317431
Tue,521.283394,571.833854,705.563544,729.692373,617.574370,531.764000,728.836896
Wed,575.008254,683.745347,798.385233,834.310144,585.582222,632.317329,551.575495

The order of columns obviously does not make sense. Neither does the order of rows.
Re-ordering columns is easy:
dframe = dframe[['col1', 'col2', 'col3']]
Remember to include all of the column names - otherwise this function will not work

In [3]:
# Changing the order of columns.
pivot_table = pivot_table[['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun']]
pivot_table

day_of_week_ret,Mon,Tue,Wed,Thur,Fri,Sat,Sun
day_of_week_dep,,,,,,,
Fri,671.862519,612.570156,754.278957,669.397004,648.313314,783.742975,703.458688
Mon,601.709979,559.276708,707.557244,609.977553,590.641378,644.547527,710.861894
Sat,678.835879,583.994101,689.127320,638.343448,664.001598,731.627285,686.599597
Sun,664.462996,562.964301,565.540041,578.913307,575.593330,668.789391,719.301648
Thur,669.787813,630.974115,669.317431,672.078664,640.614428,702.324744,734.055653
Tue,571.833854,531.764000,728.836896,617.574370,521.283394,705.563544,729.692373
Wed,683.745347,632.317329,551.575495,585.582222,575.008254,798.385233,834.310144

Doing the same for indices is really easy - you do it as follows:

dframe = dframe.reindex[['index1', 'index2', 'index3']]

In [4]:
# Re-indexing the rows.

pivot_table = pivot_table.reindex(['Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'])
pivot_table

day_of_week_ret,Mon,Tue,Wed,Thur,Fri,Sat,Sun
day_of_week_dep,,,,,,,
Mon,601.709979,559.276708,707.557244,609.977553,590.641378,644.547527,710.861894
Tue,571.833854,531.764000,728.836896,617.574370,521.283394,705.563544,729.692373
Wed,683.745347,632.317329,551.575495,585.582222,575.008254,798.385233,834.310144
Thur,669.787813,630.974115,669.317431,672.078664,640.614428,702.324744,734.055653
Fri,671.862519,612.570156,754.278957,669.397004,648.313314,783.742975,703.458688
Sat,678.835879,583.994101,689.127320,638.343448,664.001598,731.627285,686.599597
Sun,664.462996,562.964301,565.540041,578.913307,575.593330,668.789391,719.301648